.movie-certificate {
    margin: 0 1rem;
    width: 35px;
    height: 35px;
    background: yellow;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.item-content {
    font-size: 1rem;
}

.movie-banner {
    width: 100%;
}

.btn-book {
    background: purple;
    color: white;
    padding: .3rem 1rem;
    width: 150px;
    text-transform: uppercase;
}

.movie-subheading {
    color: #415bab;
    text-transform: uppercase;
}